body {
	font: Verdana, Arial, Helvetica, sans-serif;
	size:10px;
	background-image: url(../images/bg.jpg);
	background-repeat:no-repeat;
	margin: 0;
	padding: 0;
	color: #000;
}


ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	text-align: left;
}
a img { 
	border: none;
}


a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}


.container {
	width: 1000px;
	background-color: #FFFFFF;
	margin: 0 auto; 
}


.header {
	background-color: #FFFFFF;
}


.sidebar1 {
	float: left;
	width: 220px;
	background-color: #FFFFFF;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 560px;
	float: left;
}
.content2 {
	width: 780px;
	float: left;
}
.sidebar2 {
	float: left;
	width: 220px;
	background-color: #EADCAE;
	padding: 10px 0;
}


.content ul, .content ol { 
	padding-left: 10px; 
}


ul.nav {
	list-style: none; 
	border-top: 1px solid #666; 
	margin-bottom: 15px; 
}
ul.nav li {
	border-bottom: 1px solid #666; 
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 200px;  
	text-decoration: none;
	background-color: #FFFFFF;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #330099;
	color: #FFF;
}

.content2 ul, .content2 ol { 
	padding: 0 5px 5px 10px; 
}


/* ~~ The footer styles ~~ */
.footer {
	background-color: #CCC49F;
	clear: both; 
}


.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
